<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Spalte 1 -->
        <div class="col-12 col-md-6">
            <div class="p-3 border bg-light">
            <h5 class="title-text">USDB: Neue Songs (Top 10)</h5>
            <ul class="list-group list-group-numbered">
                {% for entry in entries_top_10 %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ entry.title }}</div>
                            <a href="{{ entry.link }}" target="_blank">USDB-Link</a>                                
                        </div>                
                        <button type="button" class="btn btn-primary btn-download" onclick="addToQuery('{{ entry.link }}')">
                            <i class="fa-solid fa-download"></i>
                        </button>                
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    
        <!-- Spalte 2 -->
        <div class="col-12 col-md-6">
            <div class="p-3 border bg-light">
            <h5 class="title-text">USDB: Top Download Charts</h5>
            <ul class="list-group list-group-numbered">
                {% for entry in entries_download_charts %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ entry.title }}</div>
                            <a href="{{ entry.link }}" target="_blank">USDB-Link</a>
                        </div>  
                        <button type="button" class="btn btn-primary btn-download" onclick="addToQuery('{{ entry.link }}')">
                            <i class="fa-solid fa-download"></i>
                        </button>              
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        </div>
</div>    

<script>
    function addToQuery(link) {
        const url = new URL(link);
        const id = url.searchParams.get('id');
        alert("Link: " + id);
    }
</script>

{% endblock %}